/* src/style.css */
@font-face {
  font-family: "SuisseIntl";
  font-weight: 400;
  src: url(./assets/SuisseIntl-Regular-HW4ZWWRT.woff2);
}
@font-face {
  font-family: "SuisseIntl";
  font-weight: 500;
  src: url(./assets/SuisseIntl-Medium-ER6Q7K6V.woff2);
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
::before,
::after {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role=button] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
html {
  font-size: 16px;
}
body {
  font-family: "SuisseIntl", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(32 50 106 / var(--tw-text-opacity));
}
.h1,
.h2,
.h3,
.h4 {
  font-weight: 500;
}
.h1 {
  font-size: 2rem;
  line-height: 2.3125rem;
}
@media (min-width: 1024px) {
  .h1 {
    font-size: 3rem;
    line-height: 3.3125rem;
  }
}
.h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}
@media (min-width: 1024px) {
  .h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
.h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
@media (min-width: 1024px) {
  .h3 {
    font-size: 2rem;
    line-height: 2.3125rem;
  }
}
.h4 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}
@media (min-width: 1024px) {
  .h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.link {
  text-decoration-line: underline;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom-0 {
  bottom: 0px;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.top-0 {
  top: 0px;
}
.z-10 {
  z-index: 10;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-10 {
  margin-right: 2.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-auto {
  margin-top: auto;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-8 {
  height: 2rem;
}
.h-\[120px\] {
  height: 120px;
}
.h-\[136px\] {
  height: 136px;
}
.h-\[15rem\] {
  height: 15rem;
}
.h-\[160px\] {
  height: 160px;
}
.h-\[181px\] {
  height: 181px;
}
.h-\[21\.5rem\] {
  height: 21.5rem;
}
.h-\[5\.5rem\] {
  height: 5.5rem;
}
.h-\[72px\] {
  height: 72px;
}
.h-\[75px\] {
  height: 75px;
}
.h-\[88px\] {
  height: 88px;
}
.h-full {
  height: 100%;
}
.w-32 {
  width: 8rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-8 {
  width: 2rem;
}
.w-\[12\.5rem\] {
  width: 12.5rem;
}
.w-\[120px\] {
  width: 120px;
}
.w-\[157px\] {
  width: 157px;
}
.w-\[172px\] {
  width: 172px;
}
.w-\[17rem\] {
  width: 17rem;
}
.w-\[18\.75rem\] {
  width: 18.75rem;
}
.w-\[194px\] {
  width: 194px;
}
.w-\[20rem\] {
  width: 20rem;
}
.w-\[21\.4375rem\] {
  width: 21.4375rem;
}
.w-\[260px\] {
  width: 260px;
}
.w-\[297px\] {
  width: 297px;
}
.w-\[33\.25rem\] {
  width: 33.25rem;
}
.w-\[403px\] {
  width: 403px;
}
.w-\[406px\] {
  width: 406px;
}
.w-\[7\.5rem\] {
  width: 7.5rem;
}
.w-\[77px\] {
  width: 77px;
}
.w-\[8\.5rem\] {
  width: 8.5rem;
}
.w-\[87px\] {
  width: 87px;
}
.w-\[89\.334875rem\] {
  width: 89.334875rem;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.max-w-\[102\.5rem\] {
  max-width: 102.5rem;
}
.shrink-0 {
  flex-shrink: 0;
}
.grow {
  flex-grow: 1;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin 3s linear infinite;
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-items-center {
  justify-items: center;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-y-14 {
  row-gap: 3.5rem;
}
.gap-y-16 {
  row-gap: 4rem;
}
.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.space-y-16 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-20 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-accent {
  --tw-border-opacity: 1;
  border-color: rgb(57 105 255 / var(--tw-border-opacity));
}
.border-bg-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-transparent {
  border-color: transparent;
}
.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(57 105 255 / var(--tw-bg-opacity));
}
.bg-bg-blue-light {
  --tw-bg-opacity: 1;
  background-color: rgb(236 240 255 / var(--tw-bg-opacity));
}
.bg-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-current {
  background-color: currentColor;
}
.bg-text-contrast {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-center {
  background-position: center;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pb-16 {
  padding-bottom: 4rem;
}
.pt-8 {
  padding-top: 2rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-\[5rem\] {
  font-size: 5rem;
}
.leading-\[100\%\] {
  line-height: 100%;
}
.text-accent {
  --tw-text-opacity: 1;
  color: rgb(57 105 255 / var(--tw-text-opacity));
}
.text-bg-blue {
  --tw-text-opacity: 1;
  color: rgb(139 166 255 / var(--tw-text-opacity));
}
.text-bg-blue-light {
  --tw-text-opacity: 1;
  color: rgb(236 240 255 / var(--tw-text-opacity));
}
.text-bg-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-text-accent {
  --tw-text-opacity: 1;
  color: rgb(32 50 106 / var(--tw-text-opacity));
}
.text-text-contrast {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-text-secondary {
  --tw-text-opacity: 1;
  color: rgb(110 123 166 / var(--tw-text-opacity));
}
.text-text-tertiary {
  --tw-text-opacity: 1;
  color: rgb(153 164 201 / var(--tw-text-opacity));
}
.transition-colors {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.home-gradient {
  --tw-gradient-from: #6367E3 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(99 103 227 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-from-position: 15%;
  --tw-gradient-to: #88A2FF var(--tw-gradient-to-position);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
@media (min-width: 1024px) {
  .md\:h3 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
  @media (min-width: 1024px) {
    .md\:h3 {
      font-size: 2rem;
      line-height: 2.3125rem;
    }
  }
}
.hover\:bg-accent-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 78 255 / var(--tw-bg-opacity));
}
.hover\:bg-bg-blue-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 255 / var(--tw-bg-opacity));
}
.hover\:text-accent-hovered:hover {
  --tw-text-opacity: 1;
  color: rgb(21 78 255 / var(--tw-text-opacity));
}
.hover\:text-text-accent-hovered:hover {
  --tw-text-opacity: 1;
  color: rgb(23 46 119 / var(--tw-text-opacity));
}
.hover\:text-text-contrast:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.hover\:text-text-contrast-hovered:hover {
  --tw-text-opacity: 1;
  color: rgb(220 227 255 / var(--tw-text-opacity));
}
.active\:bg-accent-pressed:active {
  --tw-bg-opacity: 1;
  background-color: rgb(0 53 220 / var(--tw-bg-opacity));
}
.active\:bg-bg-blue-light:active {
  --tw-bg-opacity: 1;
  background-color: rgb(236 240 255 / var(--tw-bg-opacity));
}
.active\:text-accent-pressed:active {
  --tw-text-opacity: 1;
  color: rgb(0 53 220 / var(--tw-text-opacity));
}
.group:hover .group-hover\:bg-bg-blue-hovered {
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 255 / var(--tw-bg-opacity));
}
.group:active .group-active\:bg-bg-blue-light {
  --tw-bg-opacity: 1;
  background-color: rgb(236 240 255 / var(--tw-bg-opacity));
}
@media (min-width: 768px) {
  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .sm\:ml-0 {
    margin-left: 0px;
  }
  .sm\:block {
    display: block;
  }
  .sm\:grid {
    display: grid;
  }
  .sm\:hidden {
    display: none;
  }
  .sm\:h-\[25rem\] {
    height: 25rem;
  }
  .sm\:h-full {
    height: 100%;
  }
  .sm\:w-\[32rem\] {
    width: 32rem;
  }
  .sm\:w-\[34\.25rem\] {
    width: 34.25rem;
  }
  .sm\:w-\[38\.6rem\] {
    width: 38.6rem;
  }
  .sm\:w-\[38rem\] {
    width: 38rem;
  }
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:justify-start {
    justify-content: flex-start;
  }
  .sm\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }
  .sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sm\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 1024px) {
  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .md\:my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .md\:my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  .md\:mb-16 {
    margin-bottom: 4rem;
  }
  .md\:mt-20 {
    margin-top: 5rem;
  }
  .md\:block {
    display: block;
  }
  .md\:flex {
    display: flex;
  }
  .md\:grid {
    display: grid;
  }
  .md\:hidden {
    display: none;
  }
  .md\:h-\[11\.5rem\] {
    height: 11.5rem;
  }
  .md\:h-\[18\.75rem\] {
    height: 18.75rem;
  }
  .md\:h-\[35\.5rem\] {
    height: 35.5rem;
  }
  .md\:h-\[47\.5rem\] {
    height: 47.5rem;
  }
  .md\:h-\[9\.4375rem\] {
    height: 9.4375rem;
  }
  .md\:w-\[20rem\] {
    width: 20rem;
  }
  .md\:w-\[31rem\] {
    width: 31rem;
  }
  .md\:w-\[32\.25rem\] {
    width: 32.25rem;
  }
  .md\:w-\[35rem\] {
    width: 35rem;
  }
  .md\:w-\[38\.625rem\] {
    width: 38.625rem;
  }
  .md\:w-\[41\.5rem\] {
    width: 41.5rem;
  }
  .md\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:grid-cols-features {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:justify-between {
    justify-content: space-between;
  }
  .md\:gap-10 {
    gap: 2.5rem;
  }
  .md\:gap-20 {
    gap: 5rem;
  }
  .md\:gap-4 {
    gap: 1rem;
  }
  .md\:rounded-3xl {
    border-radius: 1.5rem;
  }
  .md\:bg-\[image\:--fallback-png\] {
    background-image: var(--fallback-png);
  }
  .md\:p-5 {
    padding: 1.25rem;
  }
  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .md\:pb-20 {
    padding-bottom: 5rem;
  }
  .md\:pl-5 {
    padding-left: 1.25rem;
  }
  .md\:pr-0 {
    padding-right: 0px;
  }
  .md\:pt-3 {
    padding-top: 0.75rem;
  }
  .md\:pt-8 {
    padding-top: 2rem;
  }
  .md\:text-left {
    text-align: left;
  }
  .md\:text-\[5\.75rem\] {
    font-size: 5.75rem;
  }
  html.avif-supported .md\:avif\:bg-img-set-\[small-avif\/3\] {
    background-image: -webkit-image-set(var(--small-avif-1) 1x, var(--small-avif-2) 2x, var(--small-avif-3) 3x);
    background-image: image-set(var(--small-avif-1) 1x, var(--small-avif-2) 2x, var(--small-avif-3) 3x);
  }
}
@media (min-width: 1440px) {
  .lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .lg\:my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .lg\:h-\[31\.0625rem\] {
    height: 31.0625rem;
  }
  .lg\:h-\[40rem\] {
    height: 40rem;
  }
  .lg\:w-\[32\.25rem\] {
    width: 32.25rem;
  }
  .lg\:w-\[50\.875rem\] {
    width: 50.875rem;
  }
  .lg\:w-\[61\.25rem\] {
    width: 61.25rem;
  }
  .lg\:w-\[70\.625rem\] {
    width: 70.625rem;
  }
  .lg\:shrink-0 {
    flex-shrink: 0;
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .lg\:gap-\[6\.5rem\] {
    gap: 6.5rem;
  }
  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .lg\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  html.avif-supported .lg\:avif\:bg-img-set-\[big-avif\/3\] {
    background-image: -webkit-image-set(var(--big-avif-1) 1x, var(--big-avif-2) 2x, var(--big-avif-3) 3x);
    background-image: image-set(var(--big-avif-1) 1x, var(--big-avif-2) 2x, var(--big-avif-3) 3x);
  }
}
@media (min-width: 1920px) {
  .xl\:m-auto {
    margin: auto;
  }
  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .xl\:w-\[102\.5rem\] {
    width: 102.5rem;
  }
  .xl\:w-\[87\.5rem\] {
    width: 87.5rem;
  }
  .xl\:justify-center {
    justify-content: center;
  }
  .xl\:gap-12 {
    gap: 3rem;
  }
  .xl\:px-\[7\.5rem\] {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
